.wrap {
    width: 600px;
    display: flex;
    height: fit-content;
}

.left {
    background: blue;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 310px;
    column-gap: 5px;

}

.box2 {
    width: 150px;
    background: gray;
    height: 150px;

}

.right {
    background: tan;
    width: 20%;
    height: 310px;
}